<footer class="text-gray-300 body-font bg-gray-700 p-4">
  <div className="container mx-auto">
    <footer className="flex flex-wrap justify-between items-center py-3 my-4 border-t border-gray-300">
      <div className="md:flex md:items-center">
        <a href="/" className="mb-3 mr-2 md:mb-0 text-gray-600 text-decoration-none">
        </a>
        <span className="mb-3 md:mb-0 text-gray-600">© 2024 Prince Shah</span>
      </div>

      <ul className="nav md:flex justify-end list-none">
        <li className="mr-4">
          <a className="text-gray-600" target='_blank' href="https://github.com/Prince-1819">
            <i className="bi bi-github"></i>
          </a>
        </li>
        <li className="mr-4">
          <a className="text-gray-600" href="#">
            <i className="bi bi-instagram"></i>
          </a>
        </li>
        <li className="mr-4">
          <a className="text-gray-600" target='_blank' href="https://www.linkedin.com/in/prince-shah-15b915201">
            <i className="bi bi-linkedin"></i>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</footer>