<div class="flex bg-gray-100">
  <!-- Cashout form container -->
  <div class="flex-1 flex flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md bg-white rounded-lg overflow-hidden shadow-lg">
      <!-- Logo and title -->
      <div class="px-6 py-8 sm:px-10">
        <h1 class="ml-2 text-xl font-bold leading-9 text-gray-900 text-center">
          Summary
        </h1>

        <!-- Total Payment display -->
        <div class="mt-6">
          <label class="block text-sm font-medium leading-6 text-gray-900">Total Payment</label>
          <p class="block w-full p-4 py-4 rounded-md border bg-gray-100 text-gray-900">
            {{ totalPayment | currency : "INR" : "symbol" : "1.2-2" }}
          </p>
        </div>

        <!-- Form -->
        <form class="mt-6 space-y-6" (ngSubmit)="onSubmit()" #cashoutForm="ngForm">
          <!-- Name input -->
          <div>
            <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
            <input id="name" type="text" name="name" autocomplete="name" placeholder="Enter name" [(ngModel)]="name" required
              #username="ngModel" required minlength="3"
              class="block w-full p-4 py-4 rounded-md border focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
              [class.border-red-500]="username.invalid && username.touched"
              [class.border-gray-300]="!username.invalid || !username.touched" />
            <div>
              <span *ngIf="username.errors?.['required'] && username.touched" class="text-red-500">This is
                required</span>
              <span *ngIf="username.errors?.['minlength'] && username.touched" class="text-red-500">Length should be
                greater than 3</span>
            </div>
          </div>

          <!-- Phone input -->
          <div>
            <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
            <input id="phone" name="phone" type="text" [(ngModel)]="phone" #userphone="ngModel" required
              pattern="^\d{10}$"
              class="block w-full p-4 py-4 rounded-md border focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
              [class.border-red-500]="userphone.invalid && userphone.touched"
              [class.border-gray-300]="!userphone.invalid || !userphone.touched" />
            <p *ngIf="userphone.invalid && userphone.touched" class="mt-2 text-sm text-red-500">
              <span *ngIf="userphone.errors?.['required']">Phone Number is required.</span>
              <span *ngIf="userphone.errors?.['pattern']">Phone Number Should be 10 digit long!</span>
            </p>
          </div>

          <!-- Address input -->
          <div>
            <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Delivery Address</label>
            <textarea id="address" name="address1" rows="4" [(ngModel)]="address" #address="ngModel" required
              class="block w-full p-4 py-4 rounded-md border focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
              [class.border-red-500]="address.invalid && address.touched"
              [class.border-gray-300]="!address.invalid || !address.touched"></textarea>
            <div>
              <p *ngIf="address.invalid && address.touched" class="mt-2 text-sm text-red-500">
                Delivery Address is required.
              </p>
              <p *ngIf="!address.touched && !userphone.touched && !username.touched" class="mt-2 text-sm text-red-500">
                {{error}}
              </p>
            </div>
          </div>

          <!-- Submit button -->
          <div>
            <button type="submit"
              class="w-full flex justify-center py-4 px-4 border border-transparent rounded-md shadow-sm text-lg font-semibold text-white bg-gray-700 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
              Place Order
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>