<div>
    <div
        class="flex justify-between items-center p-12 bg-gradient-to-r from-gray-700 to-gray-800 text-white h-80vh m-6 rounded-lg heroSection">
        <div class="max-w-2xl textSection">
            <h1 class="text-6xl mb-5 text-yellow-400">STYLE AT YOUR FEET</h1>
            <p class="text-lg mb-5">Discover the latest trends in footwear and get ready to step up your game.</p>
        <button (click)="navigateToProducts()"
            class="px-5 py-2 text-lg text-white bg-transparent border border-yellow-400 cursor-pointer transition duration-300 shopNowBtn">
            Shop Now
        </button>
        </div>
        <div class="relative flex justify-center items-center imageSection">
            <img src="/assets/hero.png" alt="Shoe" class="w-96 h-auto mr-5 shoeImage" />
        <img src="/assets/hero2.png" alt="Shoe" class="w-52 h-auto absolute bottom-[-50px] right-[-50px] shoeImageSecondary" />
        </div>
        </div>
        </div>