.heroSection {
    height: 80vh;
}

.shoeImageSecondary {
    bottom: -50px;
    right: -50px;
}

@media (max-width: 768px) {
    .heroSection {
        flex-direction: column;
        text-align: center;
    }

    .shoeImage,
    .shoeImageSecondary {
        width: 200px;
        height: auto;
        margin: 10px 0;
    }

    .shoeImageSecondary {
        position: relative;
        right: 0;
        bottom: 0;
    }
}

.shopNowBtn:hover {
    background-color: white;
    color: rgb(56, 49, 49);
    font-weight: 500;
}